
/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Common Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.section-title {
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
    margin-top: 0px;
}
/* Top Player */
.top-container {
    width: 870px;
    height: 679px;
    background-color: white;   
    border-radius: 5px;
}
.player-container {
    padding: 33px;
}
.top-player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}
.player-name {
    font-size: 18px;
    font-weight: 500;
    padding-left: 16px;
}
hr {
    border: 1px solid #d1d1d1;
    width: 807px;
}
/* Top Blogs */
.blog-container {
    padding: 20px 33px;
}
.top-blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 29px;
    grid-column-gap: 40px;
    
}
.blog {
    display: flex;
    align-items: center;
}
.blog img {
    width: 177px;
    height: 117px;
}
.blog-name {
    font-size: 18px;
    font-weight: 500;
    
}
.blog-title {
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
}
.blog-title a {
    text-decoration: none;
    color: #562EFF;
}
 /* Latest Course */
 .bottom-container {
    width: 840px;
    height: 362px;
    background-color: white;   
    border-radius: 5px;
    margin-top: 20px;
}
.bottom-container {
    padding-top: 30px;
    padding-left: 30px;
}
.latest-courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
}

.course img {
    width: 224px;
    height: 104px;
}
.course-name {
    font-size: 18px;
    font-weight: 500;
    
}
.course {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 270px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.363);
    align-items: center;
    border-radius: 10px;   
}
.course-title { 
    padding-left: 10px;
}
small {
    color: #ED6B4F;
}
.course-stats .filled {
    color: #FFC014;
}
.course-stats .empty {
    color: rgba(128, 128, 128, 0.5);
}
.course-time {
    border: 1px solid #FF4A60;
    border-radius: 20px;
    padding: 0px 5px;
}
.fa-clock {
    color: #FF4A60;
}